footer{
    display: flex;
    background-color: hsl(214, 88%, 63%);
    justify-content: space-between;
    padding: 16px 0px;
}
div.apps{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
ul li{
    list-style: none;
}
ul li a,
div a{
    color:black;
    text-decoration: none;
}
span{
    color: black;
}
span:hover{
    color:hsl(34, 88%, 63%);
    text-decoration: none;
}
div .button1{
    display:inline-block;
    background-color: rgb(244, 171, 75);
    color:black;
    border: 2px solid rgb(244, 171, 50);
    border-radius: 16px;
    text-decoration: none;
    text-align: center;
    cursor:pointer;
    padding: 4px 8px;
}
div.newsletter{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
input.input1{
    padding: 4px 8px;
    border-radius: 16px;
    border: none;
}
input.input1:hover{
    border: 2px solid hsl(34, 88%, 63%);
}
.col-6.text-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
ul li:hover a,
div a:hover{
    color:hsl(34, 88%, 63%);
    text-decoration: none;
}
div.apps a img{
    height: 40px;
}
div.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 